.navbar {
    background-color: light-dark(var(--mantine-color-white), var(--mantine-color-dark-6));
    border-right: 1px solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 300px;
  }

  .wrapper {
    display: flex;
    flex: 1;
  }

  .aside {
    align-items: center;
    background-color: var(--mantine-color-body);
    border-right: 1px solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-7));
    display: flex;
    flex: 0 0 60px;
    flex-direction: column;
  }

  .main {
    background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-6));
    flex: 1;
  }

  .mainLink {
    align-items: center;
    border-radius: var(--mantine-radius-md);
    color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-dark-0));
    display: flex;
    height: 44px;
    justify-content: center;
    width: 44px;

    &:hover {
      background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-5));
    }

    &[data-active] {
      &,
      &:hover {
        background-color: var(--mantine-color-blue-light);
        color: var(--mantine-color-blue-light-color);
      }
    }
  }

  .title {
    background-color: var(--mantine-color-body);
    border-bottom: 1px solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-7));
    font-family:
      "Greycliff CF",
      var(--mantine-font-family);
    height: 60px;
    margin-bottom: var(--mantine-spacing-xl);
    padding: var(--mantine-spacing-md);
    padding-top: 18px;
  }

  .logo {
    border-bottom: 1px solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-7));
    display: flex;
    height: 60px;
    justify-content: center;
    margin-bottom: var(--mantine-spacing-xl);
    padding-top: var(--mantine-spacing-md);
    width: 100%;
  }

  .link {
    border-bottom-right-radius: var(--mantine-radius-md);
    border-top-right-radius: var(--mantine-radius-md);
    color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-dark-0));
    display: block;
    font-size: var(--mantine-font-size-sm);
    font-weight: 500;
    height: 44px;
    line-height: 44px;
    margin-right: var(--mantine-spacing-md);
    padding: 0 var(--mantine-spacing-md);
    text-decoration: none;

    &:hover {
      background-color: light-dark(var(--mantine-color-gray-1), var(--mantine-color-dark-5));
      color: light-dark(var(--mantine-color-dark), var(--mantine-color-light));
    }

    &[data-active] {
      &,
      &:hover {
        background-color: var(--mantine-color-blue-filled);
        border-left-color: var(--mantine-color-blue-filled);
        color: var(--mantine-color-white);
      }
    }
  }
