.navbar {
  background-color: var(--mantine-color-blue-filled) !important;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: var(--mantine-spacing-md);
  width: rem(80px);
}

.navbarMain {
  flex: 1;
  margin-top: rem(50px);
}

.link {
    align-items: center;
    border-radius: var(--mantine-radius-md);
    color: var(--mantine-color-white);
    display: flex;
    height: rem(50px);
    justify-content: center;
    width: rem(50px);

    &:hover {
        background-color: var(--mantine-color-blue-7);
    }

    &.active
    &.active:hover {
      background-color: var(--mantine-color-white);
      box-shadow: var(--mantine-shadow-sm);
      color: var(--mantine-color-blue-6);
    }
}
