package comp

templ WrapperComponent(model WrapperModel) {
	<!DOCTYPE html>
	<html data-theme="dark" class="m-0">
		<head>
			<title>Maker Management Platform</title>
			<meta charset="UTF-8"/>
			<script src="https://unpkg.com/htmx.org@2.0.0"></script>
			<link href="https://cdn.jsdelivr.net/npm/daisyui@4.12.8/dist/full.min.css" rel="stylesheet" type="text/css"/>
			<script src="https://cdn.tailwindcss.com"></script>
			<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/7.4.47/css/materialdesignicons.min.css" integrity="sha512-/k658G6UsCvbkGRB3vPXpsPHgWeduJwiWGPCGS14IQw3xpr63AEMdA8nMYG2gmYkXitQxDTn6iiK/2fD4T87qA==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
			<script>
				htmx.logAll();
			</script>
		</head>
		<body class="m-0">
			<div class="h-screen w-screen flex flex-col">
				<header class="pt-2 px-3">
					@navBar()
				</header>
				<div class="flex-auto overflow-y-auto flex flex-row">
					<aside class="left bg-yellow-800 hidden">aside</aside>
					<main class="flex-auto overflow-y-auto">
						@model.Main
					</main>
					<aside class="flex right">
						if model.AsideR != nil {
							@model.AsideR
						}
					</aside>
				</div>
				<footer class=" bg-primary dark:text-white px-1">
					v2.ahah
				</footer>
			</div>
		</body>
	</html>
}

/*
	<body class="flex flex-col min-h-screen h-screen">
		<header class="sticky z-50 top-0 pt-2 px-3">
			@navBar()
		</header>
		<div class="flex-grow">
			<main>
				@model.Main
			</main>
			<aside class="right">
				if model.AsideR != nil {
					@model.AsideR
				}
			</aside>
		</div>
		<footer class="sticky z-50 bottom-0 p-4 bg-primary dark:text-white ">
			footer contents
		</footer>
	</body>
*/
