package comp

templ WrapperComponent(model WrapperModel) {
	<!DOCTYPE html>
	<html data-theme="dark" class="m-0">
		<head>
			<title>Maker Management Platform</title>
			<meta charset="UTF-8"/>
			<script src="https://unpkg.com/htmx.org@2.0.0"></script>
			<link href="https://cdn.jsdelivr.net/npm/daisyui@4.12.8/dist/full.min.css" rel="stylesheet" type="text/css"/>
			<link href="/dist/css/changeme.css" rel="stylesheet" type="text/css"/>
			<script src="https://cdn.tailwindcss.com"></script>
			<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/7.4.47/css/materialdesignicons.min.css" integrity="sha512-/k658G6UsCvbkGRB3vPXpsPHgWeduJwiWGPCGS14IQw3xpr63AEMdA8nMYG2gmYkXitQxDTn6iiK/2fD4T87qA==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
			<script>
				htmx.logAll();
			</script>
		</head>
		<body class="m-0">
			<div class="h-screen w-screen flex flex-col">
				<div class="flex-auto overflow-y-auto flex flex-row p-2">
					<aside class="left">
						<ul
							hx-target=".main"
							class="menu bg-base-200 rounded-box"
						>
							<li>
								<a
									class="tooltip tooltip-right"
									data-tip="Home"
									hx-get="/"
								>
									<svg
										xmlns="http://www.w3.org/2000/svg"
										class="h-5 w-5"
										fill="none"
										viewBox="0 0 24 24"
										stroke="currentColor"
									>
										<path
											stroke-linecap="round"
											stroke-linejoin="round"
											stroke-width="2"
											d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6"
										></path>
									</svg>
								</a>
							</li>
							<li>
								<a
									class="tooltip tooltip-right"
									data-tip="Library"
									hx-get="/lib"
								>
									<svg
										xmlns="http://www.w3.org/2000/svg"
										viewBox="0 0 24 24"
										class="h-5 w-5"
										stroke="currentColor"
									>
										<title>folder-outline</title>
										<path
											stroke-width="2"
											d="M20,18H4V8H20M20,6H12L10,4H4C2.89,4 2,4.89 2,6V18A2,2 0 0,0 4,20H20A2,2 0 0,0 22,18V8C22,6.89 21.1,6 20,6Z"
										></path>
									</svg>
								</a>
							</li>
							<li>
								<a class="tooltip tooltip-right" data-tip="Stats">
									<svg
										xmlns="http://www.w3.org/2000/svg"
										class="h-5 w-5"
										fill="none"
										viewBox="0 0 24 24"
										stroke="currentColor"
									>
										<path
											stroke-linecap="round"
											stroke-linejoin="round"
											stroke-width="2"
											d="M9 19v-6a2 2 0 00-2-2H5a2 2 0 00-2 2v6a2 2 0 002 2h2a2 2 0 002-2zm0 0V9a2 2 0 012-2h2a2 2 0 012 2v10m-6 0a2 2 0 002 2h2a2 2 0 002-2m0 0V5a2 2 0 012-2h2a2 2 0 012 2v14a2 2 0 01-2 2h-2a2 2 0 01-2-2z"
										></path>
									</svg>
								</a>
							</li>
						</ul>
					</aside>
					<main class="flex-auto overflow-y-auto main">
						@model.Main
					</main>
					<aside class="flex" id="right-aside">
						if model.AsideR != nil {
							@model.AsideR
						}
					</aside>
				</div>
				<footer class=" bg-primary dark:text-white px-1">
					v2.ahah
				</footer>
			</div>
		</body>
	</html>
}
